<h1>Editing Alert Integration</h1>

<%= render 'form', alert_integration: @alert_integration %>

<%= link_to 'Show', @alert_integration, class: 'btn btn-info' %> |
<%= link_to 'Back', alert_integrations_path, class: 'btn btn-warning' %>
